html, body {
  padding: 0;
  margin: 0;
  /* Using the new professional fonts */
  font-family: 'Montserrat', sans-serif; 
  /* Changing the background to a soft, elegant off-white */
  background-color: #fdfcfb; 
  color: #333;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}